/* src/components/Home.css */
.home-container {
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 2.5em;
    color: #D2691E;
}

.button-container {
    margin-top: 20px;
}

button {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #FF4500;
}

/* Estilo para os formulários */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #32CD32;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #228B22;
}
